.not-avalible {
    display: none;
}

@media screen and (min-width: 150px) and (max-width: 200px)   {
    .container-mails {
        display: none;
    }

    .container-table {
        display: none;
    }
    
    .not-avalible {
        display: block;
    }
}

@media screen and (max-width: 360px) {
    .container-mails {
        padding: 15px;
    }
    .container-mails .tempo {
        font-size: 14px;
        margin-left: 5px;
        color: rgb(196, 196, 196);
    }
    .container-mails .menu {
        display: flex;
        flex-direction: row;
    }
    .container-mails .menu .option {
        margin: 5px;
        font-size: 12px;
        width: 100px;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease;
    }

    .container-mails .menu .option.refresh:hover {
        border: 1px solid rgb(16, 151, 175);
    }

    .container-mails .menu .option.delete:hover {
        border: 1px solid rgb(235, 81, 81);
    }

    .container-mails .menu .option svg {
        color: grey;
    }



    /*STYLES TABLE*/

    .container-table {
        padding: 15px;
    }

    .container-table table {
        width: 100%;;
    }
    .container-table table thead {
        text-align: center;
        font-size: 12px;
    }

    .container-table table .column-user {
        display: flex;
        flex-direction: row;
    }

    .container-table table .column-user .icon-msg svg {
        color: rgb(189, 191, 192);
        font-size: 25px;
        margin: 10px;
    }

    .container-table table tbody tr {
        border: 1px solid red;
    }

    .container-table table .column-user .user-info .user-info-name {
        font-size: 14px;
    }

    .container-table table .column-user .user-info .user-info-email {
        font-size: 12px;
        color: grey;
    }

    .container-table table .user-info-subject {
        font-size: 12px;
        text-align: center;
    }

    .container-table table .user-info-date {
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    .container-mails {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .container-mails .tempo {
        font-size: 14px;
        margin-left: 5px;
        color: rgb(196, 196, 196);
    }
    .container-mails .menu {
        display: flex;
        flex-direction: row;
    }
    .container-mails .menu .option {
        margin: 5px;
        font-size: 12px;
        width: 100px;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease;
    }

    .container-mails .menu .option.refresh:hover {
        border: 1px solid rgb(16, 151, 175);
    }

    .container-mails .menu .option.delete:hover {
        border: 1px solid rgb(235, 81, 81);
    }

    .container-mails .menu .option svg {
        color: grey;
    }



    /*STYLES TABLE*/

    .container-table {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .container-table table {
        width: 90%;;
    }
    .container-table table thead {
        text-align: center;
        font-size: 12px;
    }

    .container-table table .column-user {
        display: flex;
        flex-direction: row;
    }

    .container-table table .column-user .icon-msg svg {
        color: rgb(189, 191, 192);
        font-size: 25px;
        margin: 10px;
    }

    .container-table table tbody tr {
        border: 1px solid red;
    }

    .container-table table .column-user .user-info .user-info-name {
        font-size: 14px;
    }

    .container-table table .column-user .user-info .user-info-email {
        font-size: 12px;
        color: grey;
    }

    .container-table table .user-info-subject {
        font-size: 12px;
        text-align: center;
    }

    .container-table table .user-info-date {
        font-size: 12px;
        text-align: center;
    }
}


@media screen and (min-width: 640px) and (max-width: 900px) {
    .container-mails {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .container-mails .tempo {
        font-size: 14px;
        margin-left: 5px;
        color: rgb(196, 196, 196);
    }
    .container-mails .menu {
        display: flex;
        flex-direction: row;
    }
    .container-mails .menu .option {
        margin: 5px;
        font-size: 12px;
        width: 100px;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease;
    }

    .container-mails .menu .option.refresh:hover {
        border: 1px solid rgb(16, 151, 175);
    }

    .container-mails .menu .option.delete:hover {
        border: 1px solid rgb(235, 81, 81);
    }

    .container-mails .menu .option svg {
        color: grey;
    }



    /*STYLES TABLE*/

    .container-table {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .container-table table {
        width: 70%;;
    }
    .container-table table thead {
        text-align: center;
        font-size: 12px;
    }

    .container-table table .column-user {
        display: flex;
        flex-direction: row;
    }

    .container-table table .column-user .icon-msg svg {
        color: rgb(189, 191, 192);
        font-size: 25px;
        margin: 10px;
    }

    .container-table table tbody tr {
        border: 1px solid red;
    }

    .container-table table .column-user .user-info .user-info-name {
        font-size: 14px;
    }

    .container-table table .column-user .user-info .user-info-email {
        font-size: 12px;
        color: grey;
    }

    .container-table table .user-info-subject {
        font-size: 12px;
        text-align: center;
    }

    .container-table table .user-info-date {
        font-size: 12px;
        text-align: center;
    }
}


@media screen and (min-width: 900px) and (max-width: 1366px) {
    .container-mails {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .container-mails .tempo {
        font-size: 14px;
        margin-left: 5px;
        color: rgb(196, 196, 196);
    }
    .container-mails .menu {
        display: flex;
        flex-direction: row;
    }
    .container-mails .menu .option {
        margin: 5px;
        font-size: 12px;
        width: 100px;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease;
    }

    .container-mails .menu .option.refresh:hover {
        border: 1px solid rgb(16, 151, 175);
    }

    .container-mails .menu .option.delete:hover {
        border: 1px solid rgb(235, 81, 81);
    }

    .container-mails .menu .option svg {
        color: grey;
    }



    /*STYLES TABLE*/

    .container-table {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .container-table table {
        width: 50%;;
    }
    .container-table table thead {
        text-align: center;
        font-size: 12px;
    }

    .container-table table .column-user {
        display: flex;
        flex-direction: row;
    }

    .container-table table .column-user .icon-msg svg {
        color: rgb(189, 191, 192);
        font-size: 25px;
        margin: 10px;
    }

    .container-table table tbody tr {
        border: 1px solid red;
    }

    .container-table table .column-user .user-info .user-info-name {
        font-size: 14px;
    }

    .container-table table .column-user .user-info .user-info-email {
        font-size: 12px;
        color: grey;
    }

    .container-table table .user-info-subject {
        font-size: 12px;
        text-align: center;
    }

    .container-table table .user-info-date {
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
    .container-mails {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .container-mails .tempo {
        font-size: 14px;
        margin-left: 5px;
        color: rgb(196, 196, 196);
    }
    .container-mails .menu {
        display: flex;
        flex-direction: row;
    }
    .container-mails .menu .option {
        margin: 5px;
        font-size: 12px;
        width: 100px;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        transition: all .2s ease;
    }

    .container-mails .menu .option.refresh:hover {
        border: 1px solid rgb(16, 151, 175);
    }

    .container-mails .menu .option.delete:hover {
        border: 1px solid rgb(235, 81, 81);
    }

    .container-mails .menu .option svg {
        color: grey;
    }



    /*STYLES TABLE*/

    .container-table {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .container-table table {
        width: 50%;;
    }
    .container-table table thead {
        text-align: center;
        font-size: 12px;
    }

    .container-table table .column-user {
        display: flex;
        flex-direction: row;
    }

    .container-table table .column-user .icon-msg svg {
        color: rgb(189, 191, 192);
        font-size: 25px;
        margin: 10px;
    }

    .container-table table tbody tr {
        border: 1px solid red;
    }

    .container-table table .column-user .user-info .user-info-name {
        font-size: 14px;
    }

    .container-table table .column-user .user-info .user-info-email {
        font-size: 12px;
        color: grey;
    }

    .container-table table .user-info-subject {
        font-size: 12px;
        text-align: center;
    }

    .container-table table .user-info-date {
        font-size: 12px;
        text-align: center;
    }
}